{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        welcome to Akshata Botique where u can purchase diffrent item...
    {% endif %}

{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }} - AKSHATA Botique
    {% else %}
        see our new Collections - AKSHATA Botique
    {% endif %}

{% endblock %}

{% block content %}
{% if category %}

    <div>
        <div class="row my_row_class">
            <div class="mx-auto">
            <p><a href = "{% url 'shop:allProductCat' %}">Our all Product collections</a></p>
        </div>
            </div>
    </div>
    {% endif %}
<div class="mx_auto">
    {% if category %}
    <img class="my_image" src= "{{category.image.url}}" width="200;" height="300;" alt ="{{category.name}}">
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify"> {{category.description}}</p>
</div>
{% else %}
<div>
<img class="my_image my_image_padding" src= "{% static 'img/banner.png' %}" alt="Our product" width="1000px;" height="500px;">
    </div>
<br>
<div>
    <h1 class="text-center my_title">
        Our products collections
    </h1>
    <P class="text-justify">A boutique  is a small shop that deals in fashionable clothing or accessories. The word is French for "shop", which derives ultimately from the Greek  "storehouse".
The term boutique and also designer refer (with some differences) to both goods and services, which are containing some element that is claimed to justify an extremely high price.</P>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
                <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
                <div class="card text-center" style="min-width:18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" width="300px;" height="300px;" alt = "{{product.name}}"></a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>


        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.num == pg %} active {% endif %}}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}

